.container {
      text-align: center;
      padding: 30px;
      background: linear-gradient(to right, #6ab04c, #badc58);
      color: white;
    }

.inner-block {
    background: linear-gradient(70deg, #e67e22, #f6b93b); /* orange block */
    width: 90%;
    height: 12vh;
    display: inline-block;
    padding: 40px 10px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.inner-block h1 {
    margin: 0 0 10px 0;
    font-size: 3rem;
}

.inner-block p {
    margin: 0;
    font-size: 1.2rem;
}
    .navbar a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
    }
    .navbar a:hover {
      background: #55efc4;
      color: #2d3436;
      border-radius: 5px;
    }
    marquee {
      background: #ffeaa7;
      color: #2d3436;
      font-weight: bold;
      padding: 8px;
      font-size: 1rem;
    }
    
    .bottom-section {
     min-height: 100vh;
    display: flex;
    flex-direction: row;
    height: 400px;
    gap: 200px;
    padding: 100px;
    box-sizing: border-box;
     background-image:url(far.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
  }
  .bottom-section h2 {
    margin: 15px;
    font-size: 2rem;
  }

  .bottom-section p {
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .left-block {
    background: linear-gradient(70deg, #6ab04c, #badc58); 
    
  }

  .right-block {
    background: linear-gradient(70deg, #e67e22, #f6b93b); 
  }
  
  
.left-block, .right-block {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    width: 500px;
    height: 40vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
  }
   .right-block:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  .left-block:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .blocklink{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;        
    width: 100%;
    height: 100%;
  }
  
